<div 
    style="
        background-image: url(https://res.cloudinary.com/polyglots-cdn/image/upload/v1596520032/polyglots/welcome-kit/gs86koygio7ccsnvmi1t.jpg);
        /* background-repeat: no-repeat; */
        background-size: contain;
        overflow: hidden;
        ">
  <div style="
    width: 100%;
    height: 100%;
    padding: 14px;
    color: rgb(0, 49, 58);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255,255,255, 0.8);
    font-size: 14px;
    ">
    <h4>Hey Ankush,</h4>
    <p>Welcome aboard and we are super excited to have you on the team 👋</p>
    <p> Please find below your new email account details.</p>
    <ul style="list-style: none;">
      <li>Username: <u>ankush.kadam@polyglots.io</u> </li>
      <li>Temp pwd: Welcome0!</li>
    </ul>
    
    <p>You can access your email at <a href="https://mail.zoho.com/">Zoho Mail</a> or use the link <u>https://mail.zoho.com/</u>.</p>
    <p>NOTE: Please change your password after first login.</p>
    <p>
      Also, you would shortly receive the following invites in your Polyglots
      inbox.
    </p>

    <ul>
      <li>Gitlab group invite (Projects repo)</li>
      <li>JIRA invite (Projects boards)</li>
    </ul>

    <p>
      Please download and install the `Cliq` collaboration client from <a href="https://www.zoho.com/cliq/desktop/windows.html">here</a>.
      <br>
      You can login into it using your email credentials once you have changed your password.
    </p>
    <div>
      Please reach out to me incase you are having any difficulties accessing
      any of the above mentioned accounts.
    </div>
    <div>
      Once again, welcome aboard and we look
      forward to working with you and seeing you achieve great things!
    </div>

    <p></p>

    <div>Best regards,</div>
    <div>Ashish Gaikwad</div>
    <a href="http://polyglots.io">Team Polyglots</a>
  </div>
</div>

